In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
import zipfile

In [3]:
with zipfile.ZipFile('/content/archive.zip') as a:
  print(*a.namelist())

WA_Fn-UseC_-Telco-Customer-Churn.csv

In [4]:
with zipfile.ZipFile('/content/archive.zip') as a:
  with a.open('WA_Fn-UseC_-Telco-Customer-Churn.csv') as b:
    train = pd.read_csv(b)

In [5]:
train

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [29]:
train.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [30]:
'''
'customerID': Id individual;
'gender': sexo do cliente;
'SeniorCitizen': se o cliente é idoso ou não (1: idoso, 0: não idoso);
'Partner': se o cliente tem companheiro (yes e no);
'Dependents': se o cliente possue dependentes (yes e no);
'tenure': números de meses que o cliente esteve vinculado a empresa;
'PhoneService': Se o cliente tem atendimento telefônico ou não (yes e no);
'MultipleLines': Se que o cliente possui varias linhas telefonicas (yes, no e "No phone service")
'InternetService': Provedor de internet do cliente (DSL, Fiber optic, No);
'OnlineSecurity': se o cliente tem serviço de segurança de internet (yes, no e "No internet service");
'OnlineBackup': se o cliente possui serviço de backup online;
'DeviceProtection': se o cliente possui proteção do dispositivo;
'TechSupport': suporte técnico;
'StreamingTV': se o cliente possui serviço de streaming pra tv;
'StreamingMovies': se o cliente possui servço de streaming de filme
'Contract': tipo de contrato (mensal, anual)
'PaperlessBilling': se a fature é em papel;
'PaymentMethod': forma de pagamento;
'MonthlyCharges': o valor da cobrança/plano;
'TotalCharges': cobrança total;
'Churn': se a empresa perdeu o cliente.
'''

'\n\'customerID\': Id individual;\n\'gender\': sexo do cliente;\n\'SeniorCitizen\': se o cliente é idoso ou não (1: idoso, 0: não idoso);\n\'Partner\': se o cliente tem companheiro (yes e no);\n\'Dependents\': se o cliente possue dependentes (yes e no);\n\'tenure\': números de meses que o cliente esteve vinculado a empresa;\n\'PhoneService\': Se o cliente tem atendimento telefônico ou não (yes e no);\n\'MultipleLines\': Se que o cliente possui varias linhas telefonicas (yes, no e "No phone service")\n\'InternetService\': Provedor de internet do cliente (DSL, Fiber optic, No);\n\'OnlineSecurity\': se o cliente tem serviço de segurança de internet (yes, no e "No internet service");\n\'OnlineBackup\': se o cliente possui serviço de backup online;\n\'DeviceProtection\': se o cliente possui proteção do dispositivo;\n\'TechSupport\': suporte técnico;\n\'StreamingTV\': se o cliente possui serviço de streaming pra tv;\n\'StreamingMovies\': se o cliente possui servço de streaming de filme\n\'Contract\': tipo de contrato (mensal, anual)\n\'PaperlessBilling\': se a fature é em papel;\n\'PaymentMethod\': forma de pagamento;\n\'MonthlyCharges\': o valor da cobrança/plano;\n\'TotalCharges\': cobrança total;\n\'Churn\': se a empresa perdeu o cliente.\n'

In [6]:
pd.get_option('max_columns')

20

In [7]:
pd.set_option('max_columns', 50)

In [8]:
train

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [19]:
[c for c in train.columns if train[c].dtype in ['int64']]

['SeniorCitizen', 'tenure']

In [20]:
#2 colunas de valores inteiros

In [24]:
[c for c in train.columns if train[c].dtype in ['float64']]

['MonthlyCharges']

In [25]:
#uma coluna de valor float

In [26]:
[c for c in train.columns if train[c].dtype in ['object']]

['customerID',
 'gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'TotalCharges',
 'Churn']

In [28]:
#18 colunas object

In [10]:
train.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [11]:
train.duplicated().sum()

0

In [12]:
#sem valores nulos e duplicados

In [13]:
train.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [32]:
#talvez seja uma boa ideia renomear as colunas e deixar em portugues, para isso usarei o "renome"