In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [59]:
dados_treino = pd.read_csv('/content/train.csv')
dados_teste = pd.read_csv('/content/test.csv')

In [60]:
dados_treino.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [61]:
dados_teste.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [62]:
dados_treino.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [63]:
dados_treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [64]:
dados_treino.dropna(subset=['Survived'], inplace=True)

In [65]:
y = dados_treino['Survived']

In [66]:
dados_treino.drop(['Survived', 'PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [67]:
X = dados_treino

In [68]:
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8)

In [71]:
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
411       3    male   NaN      0      0   6.8583        Q
852       3  female   9.0      1      1  15.2458        C
8         3  female  27.0      0      2  11.1333        S
4         3    male  35.0      0      0   8.0500        S
543       2    male  32.0      1      0  26.0000        S

In [72]:
#separando colunas numricas das object
colunas_numericas = [numerica for numerica in X_train.columns if X_train[numerica].dtype in ['int64', 'float64']]

colunas_categoricas = [categorica for categorica in X_train.columns if X_train[categorica].dtype == 'object' and X_train[categorica].nunique() < 10]

In [73]:
colunas_gerais = colunas_numericas + colunas_categoricas
X_train = X_train[colunas_gerais].copy()
X_valid = X_valid[colunas_gerais].copy()
X_test = dados_teste[colunas_gerais].copy()

In [75]:
X_train.shape

(712, 7)

In [76]:
X_valid.shape

(179, 7)

In [77]:
y_train.shape

(712,)

In [78]:
y_valid.shape

(179,)

In [79]:
X_train.isnull().sum()

Pclass        0
Age         140
SibSp         0
Parch         0
Fare          0
Sex           0
Embarked      0
dtype: int64

In [81]:
#arrumar a questo dos nmeros nulos
#fase do pre-processamento

In [83]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeRegressor

In [84]:
#pre-processando os valores nulos das colunas numericas como idade, por exemplo
imputacao = SimpleImputer(strategy='median')

#pre-processando dados categricos
categoricos = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse=False))
])

preprocessor = ColumnTransformer(transformers=[
    ('numerica', imputacao, colunas_numericas),
    ('categ', categoricos, colunas_categoricas)
])

In [85]:
modelo = DecisionTreeRegressor()

In [86]:
#preprocessando tudo, o preprocessor e o modelo, tudo via pipeline
juntando = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', modelo)
])

In [87]:
juntando.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('numerica',
                                                  SimpleImputer(strategy='median'),
                                                  ['Pclass', 'Age', 'SibSp',
                                                   'Parch', 'Fare']),
                                                 ('categ',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['Sex', 'Embarked'])])),
                ('model', DecisionTreeRegressor())])

In [90]:
falecidos = pd.DataFrame(juntando.predict(X_valid))
falecidos

       0
0    0.0
1    0.0
2    1.0
3    0.0
4    1.0
..   ...
174  1.0
175  0.0
176  1.0
177  0.0
178  1.0

[179 rows x 1 columns]

In [91]:
from sklearn.metrics import mean_absolute_error

In [92]:
mean_absolute_error(y_valid, falecidos)

0.22439478584729983

In [93]:
#validacao cruzada
from sklearn.model_selection import cross_val_score

In [95]:
scores = -1 * cross_val_score(juntando, X, y, cv=5, scoring='neg_mean_absolute_error')

In [96]:
scores

array([0.27579143, 0.22963483, 0.18198234, 0.2590824 , 0.21535581])

In [97]:
scores.mean()

0.232369362219811

In [99]:
apuracao_dados_teste = pd.DataFrame(juntando.predict(X_test))
apuracao_dados_teste

       0
0    0.0
1    0.0
2    1.0
3    1.0
4    0.0
..   ...
413  0.0
414  1.0
415  0.0
416  0.0
417  0.0

[418 rows x 1 columns]

In [102]:
apuracao_dados_teste[0].value_counts()

0.000000    238
1.000000    150
0.125000      9
0.500000      8
0.833333      7
0.250000      4
0.666667      2
Name: 0, dtype: int64